@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
 <div class="title">
Press Left Click to spawn a light show</p>
		
        </div>
		<div class="title">
Press Right Click to spawn a light show
		</div>
				<div class="title">
Press R to reload the scene
		</div>
</root>

@code
{



	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>

}
