@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
 <div class="title">
@string1
		
        </div>
		<div class="title">
@string2
		</div>
				<div class="title">
@string3
		</div>
</root>

@code
{
		[Property] public string string1 {get; set;} 
		[Property] public string string2 {get; set;} 
		[Property] public string string3 {get; set;} 


	protected override int BuildHash() => System.HashCode.Combine( string1, string2, string3 );

}
